.retechgen-overview-container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .text{
        flex: 1;
        font-size: 4rem;
        text-align: center;
        transform: rotate(-90deg);
        
    }
    .retechgen-overview-content-container{
        flex: 3;
        text-align: justify;
        padding: 30px 10%;
        font-size: 1.8rem;
        background-color: red;
        width: 100%;
        min-height: 400px;
        border-top-left-radius:400px;
        border-bottom-left-radius:400px;
    }
}