.retechgen-technology-partner{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 150px;
    background-color: red;
    border-top-left-radius: 125px;
    border-bottom-right-radius: 125px;
}