*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.retechgen-home-container{
    background-image:linear-gradient(rgba(255, 255, 255, 0.774), rgba(255, 255, 255, 0.842)), url("../../../../assests/images/logo/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    .rtg-home-col{
        h2{
            font-size: 2.5rem;
            span{
                color: red;
            }
        }
        button{
            position: relative;
            border: 3px solid black;
            background-color: transparent;
            color: black;
            border-radius: 40px;
            width: 250px;
            height: 50px;
            font-size: 1.5rem;
            margin-top: 1.5rem;
            padding:0 50px 0 25px;
            &::after{
                position: absolute;
                top: -3px;
                right: -3px;
                content: " ";
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: black;
            }
        }
    }
    div{
        flex: 1;
        
        img{
            width: 100%;
            height: 100%;
        }
    }
}