h1{
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    display: inline-block;
    margin-left: 180px;
    font-size: 3.5rem;
}

.retechgen-our-services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 150px;
}