.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    background-color: black;
    height: 100px;
    .logo-part{
        img{
            width: 70px;
            height: 70px;
            vertical-align: baseline;
        }
        span{
            font-size: 1rem;
            color: white;
        }
    }
    div{
        .link{
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            margin: 0 15px;
        }
    }
}