@font-face {
  font-family: "neue_metana";
  src: url(./assests/Fonts/neue_metana/NeueMetana-Regular.otf);
}

body {
  margin: 0;
  font-family: "neue_metana";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "neue_metana";
}
